.lastUpdate {
  text-align: right;
  text-transform: uppercase;
  line-height: 1;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 10px !important;
}

.gridContainer {
  margin-right: -20px !important;
}
