* {
  font-family: 'Lexend Deca', Arial, Helvetica, sans-serif !important;
}

body {
  background-color: #f1f1f1;
}

.container {
  width: 80%;
  margin: auto;
}

#countrySelect {
  display: flex !important;
  align-items: center !important;
  justify-content: start;
}
